/*For screens less than 1024px, do not justify center*/
@media screen and (min-width: 1024px) {
	.video_thumbnail {
	display: flex;
	justify-content: center;
	}
}

.slider_container {
	margin: 0 auto;
	padding: 40px 90px;
	width: 80%;
	color: #333;
}

/*carousel arrow color*/
.slick-prev:before,
.slick-next:before {
	color: black;
}
