@import url("https://fonts.googleapis.com/css?family=Fugaz+One&display=swap");

.video_thumbnail {
	height: 225px;
	width: 325px;
	padding: 20px;
	object-fit: cover;
	border-radius: 5px;
}

.video_section_title {
	text-align: center;
	font-family: "Fugaz One", cursive;
}

.video_section_subtitle {
	margin: 40px;
	text-align: center;
	font-family: "Fugaz One", cursive;
}

.slider_container {
	margin: 0 auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	width: 70%;
	color: #333;
}

/*carousel arrow color*/
.slick-prev:before,
.slick-next:before {
	color: black;
}
